@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:400,700');

h1, h2, h3, h4, h5, h6
  color #03a9f4
  font-family Quicksand
  font-weight bold
  text-transform uppercase

html, body
  height: 100%
  // font-family 'Open Sans' !important

body
  background-color #f4f4f4 !important
  .page
    padding-top 1rem